  %div.messages
    %div.message
      %div.message__info
        %p.message__info__talker みる
        %p.message__info__date 2019/03/27(Wed) 20:11:08

      %p.message__text 今年もよろしく

    %div.message
      %div.message__info
        %p.message__info__talker るい
        %p.message__info__date 2019/05/27(Wed) 18:11:00

      %p.message__text 今年もよろしく
