.form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }

// .form{
//   height: 90px;
//   padding: 20px 40px;
//   background-color: #ddd;
//   .formbox{
//     display: flex;
//     .inputbox{
//       position: relative;
//       width: 100%;
//       .form__message{
//         height: 50px;
//         width: 100%;
//         padding: 0 40px 0 10px;
//         color: $black;
//         border-style: none;
//       }
//       .formbox__input__images{
//         font-size: 1.3rem;
//         position: absolute;
//         top: 10px;
//         right: 10px;
//         cursor: pointer;
//         .hidden{
//           display: none;
//         }
//       }
//     }
//   }
// }
// .form__submit__btn{
//     width: 100px;
//     height: 50px;
//     padding: 0 30px;
//     margin-left: 15px;
//     background-color: $light_blue;
//     color: white;
//     cursor: pointer;
//   }
