.side-bar{
  width: 300px;
  color: $white;
  float: left;

  .header{
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
  }
}

.header__box{
  display: flex;
  justify-content: space-between;
  width:100%;
  font-weight: bold;
  ul{
    float: right;
    display: flex;
    .list {
      margin-left: 0.3rem;
      font-size: 20px;
      color: $white;
    }
  }
}
.groups{
  height: calc(100vh - 100px);
  background-color: $side_blue_light;
  padding: 20px 20px 0;
  .group{
    margin-bottom: 40px;
    box-sizing: border-box;
    &__name {
      font-size: 15px;
      margin-bottom: 5px;
      color: $white;
    }
    &__message{
      font-size: 11px;
      margin-top: 5px;
      color: $white;
    }
  }
}


