.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  .formbox{
    display: flex;
    .inputbox{
      position: relative;
      width: 100%;
      .form__message{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: $black;
        border-style: none;
      }
      .form__message__inputbox__image{
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        .hidden{
          display: none;
        }
      }
    }
  }
}
.form__submit__btn{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: $light_blue;
    color: white;
    cursor: pointer;
  }
